<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<ul>
  {% if site.menu %}
    {% for node in site.menu %}
      {% assign url = node.url | default: node.href %}
      {% comment %} page build시에 이 부분 코드가 실행된다. {% endcomment %}.
      <li>
        <a
          {% if forloop.first %}id="_navigation"{% endif %}
          href="{% include smart-url.txt url=url %}"
          class="sidebar-nav-item{% if page.url contains url %} active{% endif %}"
          {% if node.rel %}rel="{{ node.rel }}"{% endif %}
>
          {{ node.name | default:node.title }}
        </a>
        {% comment %} node.name이 아니라, node.title이 사용됨! {% endcomment %}
        {% if node.title == 'AWS(CDA)' %}
        <span>{{ site.categories['aws'] | size }}</span>
        {% endif %}
        {% if node.title == 'Web Dev' %}
        <span>{{ site.categories['web'] | size }}</span>
        {% endif %}
        {% if node.title == 'Algorithms' %}
        <span>{{ site.categories['algo'] | size }}</span>
        {% endif %}
        {% if node.title == 'AI' %}
        <span>{{ site.categories['ai'] | size }}</span>
        {% endif %}
      </li>
    {% endfor %}
  {% else %}
    {% assign pages = site.pages | where: "menu", true %}
    {% assign documents = site.documents | where: "menu", true %}
    {% assign nodes = pages | concat: documents | sort: "order" %}

    {% for node in nodes %}
      {% unless node.redirect_to %}
        <li>
          <a
            {% if forloop.first %}id="_navigation"{% endif %}
            href="{{ node.url | relative_url }}"
            class="sidebar-nav-item{% if page.url contains node.url %} active{% endif %}"
            {% if node.rel %}rel="{{ node.rel }}"{% endif %}
            >
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ node.redirect_to }}" class="sidebar-nav-item external" >{{ node.title}}</a>
        </li>
      {% endunless %}
    {% endfor %}
  {% endif %}
</ul>
