div.wrapper{
min-width: 300px;
padding-top: 70px;
-webkit-colum-count : 2;
-moz-column-count:2;
-o-column-count :2;
column-count: 2;
column-gap: 2px;
width: 100%;
}
div.title{
width : 20%;
height : 70px;
margin : 10px;
font-size : 1.3em;
font-weight : bold;
}
div.contents{
display : none;
font-size: 1em;
line-height: 2;
width: 100%;
}

div.leftCol{
break-after : column;
-webkit-break-after : column;
-moz-break-after : column;
-ms-break-after : column;
-o-break-after : column;
width: 20%;
margin-right: 1px;
display: block;
}


div.rightCol{
  width: 100%;
  height : 100%;
  display: block;

}

div#subject{
margin: 0 auto;
color: white;
width:100%;
height: 70px;
padding-left: 10px;

  background-color :#7DA0DB ;
  column-span : all;
  font-size: 3em;
  font-weight: bolder;
  text-align: left;
  -webkit-column-span : all;;
  -moz-column-span : all;
  -ms-column-span : all;
  -o-column-span : all;
z-index: 10;}

hr{
    -webkit-column-span : all;;
    -moz-column-span : all;
    -ms-column-span : all;
    -o-column-span : all;
    border : 1px double #3d314e;
    width: 100%;
  }

    .leftCol > a{
        color : #10412A;
      }
    .leftCol > a:hover{
        color : #f0e4d8;
      }
    .leftCol > a:visited{
        color : gray;
      }
      p > a:link{
        color :#203d63;
        }
      p > a:hover{
          color : #f0e4d8;
        }
      a {
        target='_blank'
      }